
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html{
    background-color: #faebd7;
}

.nav {
    background-color: #cd853f;
    display: flex; /* add display: flex; */
    flex-direction: column; /* make the flex direction column */
    justify-content: center; /* vertically center the nav links */
    text-align: center;
    font-size: 1.1vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(7vh + 0.5vw);
    z-index: 1;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: block; /* change display to block */
    padding: 2em 1.5em;
    text-decoration: none;
    font-size: 3vh 3vw;
    color: black;
}
  

.main-header li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(7vh + 0.5vw); /* use both vh and vw */
    background-color: rgba(255, 200, 0, 0.5);
    margin-top: 10vh;
}


.upside-down-triangle{
    position: relative;
    width: 100%;
    height: 0;
    border-left: 50vw solid transparent; /* use vw for borders */
    border-right: 50vw solid transparent; /* use vw for borders */
    border-top: 25vh solid rgba(255, 200, 0, 0.5); /* use vh for borders */
    top:7.5vh;
}


.upside-down-triangle-upload{
    position: relative;
    width: 100%;
    height: 0;
    border-left: 50vw solid transparent; /* use vw for borders */
    border-right: 50vw solid transparent; /* use vw for borders */
    border-top: 25vh solid rgba(255, 200, 0, 0.5); /* use vh for borders */
}



.middle.subtext{
    margin-top: 35vh; /* use vh for margin */
    font-size: calc(1vw + 1vh);  
}

.middle.sub-button{
    margin-top: 7vh; /* use vh for margin */
}

.middle-over.home-icon img{
    border-radius: 30%;
    margin-top: 1vh; 
    border: 0.1vw solid black; 
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    
    
}

.middle.sub-button button{
    border-radius: 5vw; /* use vw for border-radius */
    border: 0.1vw solid black; /* use vw for border-width */
    padding: 1.5vh 3vw; /* use vw and vh for padding */
    font-size: 1.6vw; /* use vw for font-size */
}

.middle.title{
    position: absolute;
    z-index: 1;
    margin-top: -15vh; /* use vh for margin */
    left: 0;
    right: 0;
    font-size: calc(2vw + 2vh); 
}

.yellow-header{
    background-color: rgba(255, 200, 0, 0.5);
    text-align: center;
}

.middle.about-title{
    position: relative;
    z-index: 1;
    margin-top: 7vh; /* use vh for margin */
    left: 0;
    right: 0;
    font-size: calc(2vw + 2vh); 
}

.middle.about{
    position: relative;
    z-index: 1;
    margin-top: 1vh; /* use vh for margin */
    left: 0;
    right: 0;
    font-size: calc(1vw + 1vh);
}

.container-left-top{
    position:relative;
}
.container-left-bottom{
    position:relative;
}
.container-right-top{
    position:relative;
}
.container-right-bottom{
    position:relative;
}
.container-left-top img {
    display: block; 
    position: absolute;
    top: 2vh; /* adjust the top position as needed */
    left: 2vw; /* adjust the left position as needed */
    margin: 0 auto; 
}
.container-right-top img {
    display: block; 
    position: absolute;
    top: 2vh; /* adjust the top position as needed */
    right: 2vw; /* adjust the left position as needed */
}

.container-left-bottom img {
    display: block; 
    position: absolute;
    bottom: -60vh; /* adjust the top position as needed */
    left: 2vw; /* adjust the left position as needed */
}

.container-right-bottom img {
    display: block; 
    position: absolute;
    bottom: -59vh; /* adjust the top position as needed */
    right: 2vw; /* adjust the left position as needed */
}

  



.about-icon{
    border-radius: 30%;
    margin-top: 1vh; 
    border: 0.1vw solid black; 
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.footer p{
    text-align: center;
    font-size: calc(1vw + 1.5vh)
}


.middle.sub-button-upload{
    margin-top: 26vh; /* use vh for margin */
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.row img{
    width: 20vw;
    
}

.column-message {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .row-message::after {
    content: "";
    clear: both;
    display: table;
  }
.column-message img{
    top:0;
    left:0;
    width: 40vw
}

.words{
    width: 45vw;
    height: 17vh;  
}

.arrow {
    position: fixed;
    bottom: 10%;
    right: 0;
  }


  .arrow img {
    display: block;
    width: 200px;
  }

.send-email{
    border-radius: 5vw; /* use vw for border-radius */
    border: 0.1vw solid black; /* use vw for border-width */
    padding: 1.5vh 3vw; /* use vw and vh for padding */
    font-size: 1.6vw; /* use vw for font-size */
}

.button-arrow {
    border: none;
    background: none;
    padding: 0;
  }

.done-button{
    width:45vw;
    float: left;
    
    padding: 5px;

}


  
  


  

  






  
  





