*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html{
    background-color: #faebd7;
}

.nav {
    background-color: #cd853f;
    display: flex; /* add display: flex; */
    flex-direction: column; /* make the flex direction column */
    justify-content: center; /* vertically center the nav links */
    text-align: center;
    font-size: 1.1vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(7vh + 0.5vw);
    z-index: 1;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: block; /* change display to block */
    padding: 2em 1.5em;
    text-decoration: none;
    font-size: 3vh 3vw;
    color: black;
}
  

.main-header li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(7vh + 0.5vw); /* use both vh and vw */
    background-color: rgba(255, 200, 0, 0.5);
    margin-top: 10vh;
}


.upside-down-triangle{
    position: relative;
    width: 100%;
    height: 0;
    border-left: 50vw solid transparent; /* use vw for borders */
    border-right: 50vw solid transparent; /* use vw for borders */
    border-top: 25vh solid rgba(255, 200, 0, 0.5); /* use vh for borders */
    top:7.5vh;
}



.middle.subtext{
    margin-top: 35vh; /* use vh for margin */
    font-size: calc(1vw + 1vh);  
}

.middle.sub-button{
    margin-top: 7vh; /* use vh for margin */
}

.middle-over.home-icon img{
    border-radius: 30%;
    margin-top: 1vh; 
    border: 0.1vw solid black; 
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    
    
}

.middle.sub-button button{
    border-radius: 5vw; /* use vw for border-radius */
    border: 0.1vw solid black; /* use vw for border-width */
    padding: 1.5vh 3vw; /* use vw and vh for padding */
    font-size: 1.6vw; /* use vw for font-size */
}

.middle.title{
    position: fixed;
    z-index: 1;
    margin-top: -15vh; /* use vh for margin */
    left: 0;
    right: 0;
    font-size: calc(2vw + 2vh); 
}

.yellow-header{
    background-color: rgba(255, 200, 0, 0.5);
    text-align: center;
}






  
  





